<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [dataDona]="graficos.grafico1.data" [labelsDona]="graficos.grafico1.labels" [chartTypeDona]="graficos.grafico1.type" [legendDona]="graficos.grafico1.leyenda"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [dataDona]="graficos.grafico2.data" [labelsDona]="graficos.grafico2.labels" [chartTypeDona]="graficos.grafico2.type" [legendDona]="graficos.grafico2.leyenda"></app-grafico-dona>

            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [dataDona]="graficos.grafico3.data" [labelsDona]="graficos.grafico3.labels" [chartTypeDona]="graficos.grafico3.type" [legendDona]="graficos.grafico3.leyenda"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [dataDona]="graficos.grafico4.data" [labelsDona]="graficos.grafico4.labels" [chartTypeDona]="graficos.grafico4.type" [legendDona]="graficos.grafico4.leyenda"></app-grafico-dona>

            </div>
        </div>
    </div>

</div>